@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(11, 11, 41);
}

@layer components {
    .blk{
        @apply w-20 h-20 bg-slate-900 rounded-md
        ring ring-offset-slate-700 shadow-md shadow-slate-900
         text-blue-50 font-sans font-extrabold text-6xl
         flex justify-center items-center box-border
         cursor-pointer hover:opacity-80
    }
}
  